.theme-default-content code {
	color: #c7254e;
	background-color: #f9f2f4;
}
blockquote {
	padding: 0.1rem 1.5rem;
	border-left: 0.5rem solid #42b983;
	background-color: #f3f5f7;
	color: #555;
}
blockquote p {
	margin: 16px 0;
}